.root {
    align-items: center;
    background-color: var(--main-black-color);
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.wallpaper {
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.25rem);
    height: calc(100% + 0.5rem);
    left: -0.25rem;
    position: absolute;
    top: -0.25rem;
    width: calc(100% + 0.5rem);
    z-index: 1;
}

.form-wrapper {
    background-color: var(--main-white-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    flex: 1 1 auto;
    max-width: 20rem;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

.title {
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.input {
    margin-bottom: 1rem;
}

.button {
    flex: 1 1 auto;
    margin-right: 1rem;
}

.link {
    flex: 1 2 auto;
}

.buttons {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.menu {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.exit-icon {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 0 0.25rem 1rem 0.25rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5rem;
}
