.root {
    background-color: transparent;
    border: none;
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 500;
    font-size: 2.5rem;
    resize: none;
    line-height: 3rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;

    &:empty:before {
        content: 'Title';
        cursor: text;
        color: var(--main-grey-text-color);
    }
}
