.root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;

    .avatar {
        width: 5rem;
        height: 5rem;
    }
}

.user-name {
    font-size: 1.25rem;
    flex: 1 1 auto;
    line-height: 2rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(40, 40, 40);
}
