.root {
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    display: block;
    height: 4rem;
    margin: 2rem;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 8rem;
    width: 4rem;
}
