:root {
    --link-color: rgb(60, 60, 60);
}

.root {
    align-items: stretch;
    box-shadow: var(--main-box-shadow);
    box-sizing: border-box;
    display: flex;
    height: 4rem;
    justify-content: center;
    padding: 0 1rem;
    position: relative;
    width: 100%;
}

.link {
    align-items: center;
    color: var(--link-color);
    display: flex;
    font-weight: 500;
    justify-content: center;
    padding: 0 1rem;

    text-decoration: none;
    text-transform: uppercase;
    transition: 0.15s color;

    &:hover {
        color: var(--main-hover-color);
    }

    &:active {
        color: var(--main-active-color);
    }
}

.login {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
}

.logout {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--link-color);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    height: 4rem;
    outline: none;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: 0.15s color;

    &:hover {
        color: var(--main-hover-color);
    }

    &:active {
        color: var(--main-active-color);
    }
}
