:root {
    --border-radius: 9px;
}

.root {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.content {
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--main-box-shadow);
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    width: 22rem;
    z-index: 1;
}

.exit {
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 4rem;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
}
