.root {
    width: 100%;
    max-width: 64rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: var(--main-box-shadow);
    padding: 4rem;
}

.form {
    display: block;
    width: 100%;
}

.exit {
    background-color: transparent;
    border: none;
    display: block;
    outline: none;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    box-shadow: var(--main-box-shadow);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    margin: 2rem;
}
