.root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.textarea {
    border: var(--transparent-border);
    border-radius: var(--main-border-radius);
    box-sizing: border-box;
    caret-color: var(--main-hover-color);
    max-width: 100%;
    outline: none;
    overflow: hidden;
    resize: none;
    transition: var(--main-transition-params);
    transition-property: border;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;

    &:focus {
        border: var(--main-accent-border);
    }
}

.type-title {
    color: var(--textarea-title-color);
    font-size: var(--textarea-title-font-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--textarea-title-line-height);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.type-text {
    color: var(--textarea-text-color);
    font-size: var(--textarea-text-font-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--textarea-text-line-height);
    padding: 0.5rem 1rem;
    text-align: left;
}
