.root {
    align-items: center;
    border-radius: 4rem;
    display: flex;
    height: 8rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 8rem;
}

.avatar,
.no-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}
