.root {
    background-color: transparent;
    border: none;
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    resize: none;
    white-space: pre-wrap;

    &:empty:before {
        content: 'Subtext';
        cursor: text;
        color: var(--main-grey-text-color);
    }
}
