.root {
    background: var(--main-hover-color-90);
    border: var(--main-accent-border);
    border-radius: var(--small-border-radius);
    box-sizing: border-box;
    caret-color: var(--main-hover-color);
    cursor: pointer;
    display: block;
    font-family: var(--main-font-family);
    font-size: var(--font-medium-size);
    height: 2.5rem;
    letter-spacing: 1px;
    line-height: var(--font-medium-line-height);
    outline: none;
    padding: 0 1rem;
    width: 100%;

    &:active {
        background: var(--main-hover-color-92);
        transform: scale(0.98);
    }
}

.button-theme-light,
.button-theme-lazy {
    background-color: var(--main-white-color);
    border: var(--main-border);

    &:active {
        background: inherit;
        transform: scale(0.98);
    }
}

.button-theme-lazy {
    border: none;
    background-color: var(--transparent);
}

.link {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
