:root {
    --main-font-family: 'Roboto', sans-serif;

    --transparent: rgba(0, 0, 0, 0);

    --main-black-color: rgb(30, 30, 30);
    --main-black-color-10: rgba(30, 30, 30, 0.1);
    --main-black-color-20: rgba(30, 30, 30, 0.2);
    --main-black-color-30: rgba(30, 30, 30, 0.3);
    --main-black-color-40: rgba(30, 30, 30, 0.4);
    --main-black-color-50: rgba(30, 30, 30, 0.5);
    --main-black-color-60: rgba(30, 30, 30, 0.6);
    --main-black-color-70: rgba(30, 30, 30, 0.7);
    --main-black-color-80: rgba(30, 30, 30, 0.8);
    --main-black-color-90: rgba(30, 30, 30, 0.9);

    --main-white-color: rgb(255, 255, 255);
    --main-white-color-10: rgba(255, 255, 255, 0.1);
    --main-white-color-20: rgba(255, 255, 255, 0.2);
    --main-white-color-30: rgba(255, 255, 255, 0.3);
    --main-white-color-40: rgba(255, 255, 255, 0.4);
    --main-white-color-50: rgba(255, 255, 255, 0.5);
    --main-white-color-60: rgba(255, 255, 255, 0.6);
    --main-white-color-70: rgba(255, 255, 255, 0.7);
    --main-white-color-80: rgba(255, 255, 255, 0.8);
    --main-white-color-90: rgba(255, 255, 255, 0.9);
    --main-white-color-95: rgba(255, 255, 255, 0.95);

    --main-hover-color: rgba(25, 100, 200);
    --main-hover-color-10: rgba(25, 100, 200, 0.1);
    --main-hover-color-20: rgba(25, 100, 200, 0.2);
    --main-hover-color-30: rgba(25, 100, 200, 0.3);
    --main-hover-color-40: rgba(25, 100, 200, 0.4);
    --main-hover-color-50: rgba(25, 100, 200, 0.5);
    --main-hover-color-60: rgba(25, 100, 200, 0.6);
    --main-hover-color-70: rgba(25, 100, 200, 0.7);
    --main-hover-color-80: rgba(25, 100, 200, 0.8);
    --main-hover-color-90: rgba(25, 100, 200, 0.9);
    --main-hover-color-92: rgba(25, 100, 200, 0.92);

    --main-border-radius: 0.5rem;
    --small-border-radius: 0.25rem;

    --main-box-shadow: 0 0 0.5rem var(--main-black-color-30);
    --tiny-box-shadow: 0 0 0.25rem var(--main-black-color-10);

    --main-accent-border: 1px solid var(--main-hover-color);
    --transparent-border: 1px solid var(--transparent);
    --main-border: 1px solid var(--main-black-color-30);

    --main-transition-params: 0.25s;

    --main-active-color: rgb(200, 25, 80);
    --main-background-color: rgb(255, 255, 255);
    --main-grey-text-color: rgb(120, 120, 120);
    --main-text-color: rgb(20, 20, 20);

    --font-small-size: 0.75rem;
    --font-small-line-height: 1rem;
    --font-small-color: var(--main-black-color-70);

    --font-medium-size: 1rem;
    --font-medium-line-height: 1.5rem;
    --font-medium-color: var(--main-black-color-80);

    --font-big-size: 1.5rem;
    --font-big-line-height: 3rem;
    --font-big-color: var(--main-black-color);

    --textarea-title-font-size: 2rem;
    --textarea-title-line-height: 2.5rem;
    --textarea-title-color: var(--main-black-color);

    --textarea-text-font-size: 1.25rem;
    --textarea-text-line-height: 2rem;
    --textarea-text-color: var(--main-black-color-80);

    --font-weight-light: 300;
    --font-weight-medium: 400;
    --font-weight-bold: 500;
}
