.root {
    font-family: var(--main-font-family);
    margin: 0;
}

.span,
.p {
    &.small {
        font-size: var(--font-small-size);
        line-height: var(--font-small-line-height);
        color: var(--font-small-color);
    }

    &.medium {
        font-size: var(--font-medium-size);
        line-height: var(--font-medium-line-height);
        color: var(--font-medium-color);
    }

    &.big {
        font-size: var(--font-big-size);
        line-height: var(--font-big-line-height);
        color: var(--font-big-color);
    }
}

.text-weight {
    &_light {
        font-weight: var(--font-weight-light);
    }
    &_medium {
        font-weight: var(--font-weight-medium);
    }
    &_bold {
        font-weight: var(--font-weight-bold);
    }
}

.center,
.right {
    width: 100%;
    display: block;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.root {
    &.white {
        color: var(--main-white-color-95);
    }
}
